LOAD_PAGES = on
LOAD_PAGE_POSTS = on
LOAD_PAGE_POST_ATTACHMENTS = on
LOAD_PAGE_INSIGHTS = on
LOAD_PAGE_POST_INSIGHTS = on

FB_PAGES_ACCESS_TOKENS = ["any_token_1","any_token_2"]
FB_PAGES_INSIGHTS_FOR = month
FB_PAGES_CONNECTIONS_LIMIT = 10
FB_PAGES_DELAY_PER_REQUEST = 0
FB_PAGES_VERSION = v10.0
FB_PAGES_RETRY_ATTEMPTS = 3
FB_PAGES_RETRY_DELAY_FUNCTION = expo

DB_URL = postgres://username:password@localhost:5432/database?key1=value1&key2=value2

EMAIL_TO = admin@example.com
EMAIL_HOST = mail.example.com
EMAIL_PORT = 465
EMAIL_USERNAME = username
EMAIL_PASSWORD = password
EMAIL_USE_TLS = off
EMAIL_USE_SSL = off

LOG_FILES = {"/path/to/project/fb_pages_downloader.out.log":"INFO","/path/to/project/fb_pages_downloader.err.log":"ERROR"}
